body {
	background-color: #A5D57F;
}
.top {
	margin-top:3%;
	margin-left:45%;
}
.content {
	background: #fff;
	border: 6px solid #FBEC5D;
	height: 100%;
	margin-top:-5%;
	margin-left:15%;
	margin-right:15%;
	padding: 20px;
	width: 65%;
	border-radius: 10px;
}
.icons {
	margin-top: 50%;
}